@keyframes colorChanging {
  0% {background-color: #BC8F8F;}
  10% {background-color: #FA8072;}
  20% {background-color: #DB7093;}
  30% {background-color: #FFB6C1;}
  40% {background-color: #FFC0CB;}
  50% {background-color: #FFDAB9;}
  60% {background-color: #FFE4B5;}
  70% {background-color: #FFEFD5;}
  80% {background-color: #FFFACD;}
  90% {background-color: #FFFFE0;}
  100% {background-color: #FFE4C4;}
}

body {
  background-color:#CD5C5C;
  animation-name: colorChanging;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

